
{% extends "index" %}

{% block content %}

   <div class="details-container">
            <img class="details-image" src="assets/homunculus-omnibus-vol-01-02-gn-manga.jpg" alt="Product Image">
            <div class="details-detail">
                <div class="details-name">Homunculus volume 1-2</div>
                <div class="details-description">Nakoshi Susumu, age thirty-four, lives out of his car. Between spending his days with the homeless and his nights in his vehicle, he has little to his name. When a medical student begins to stalk him, offering to pay Nakoshi a significant sum of cash to undergo a strange surgical procedure, Nakoshi initially refuses. But after his beloved car is towed, he finally agrees to take the offer and subjects himself to the operating table. What, if anything, will Nakoshi see differently once he awakens?</div>

                <div class="pricetag">
                    <button class="buy-button">Buy Now</button>
                    <span class="price">€11.64</span>

                </div>
            </div>
        </div>

{% endblock %}