{% extends "index" %}

{% block content %}

    <h2> {{entry.heroSubtitle}}</h2>

    <h1> {{entry.heroTitle}} </h1>

    <div class="product-container">
        <div class="product">
            <img src="assets/20th-century-boys-perfect-edition-vol-08-gn-manga.jpg"  alt="Product 1">
            <h2>20th Century Boys Perfect Edition vol 08 Manga</h2>
            <div class="pricetag">
            <span class="price">€19.99</span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <img src="assets/dorohedoro-vol-17-gn.jpg" alt="Product 2">
            <h2>Dorohedoro vol 17 <br><br></h2>
            <div class="pricetag">
            <span class="price">€14.99</span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <img src="assets/berserk-vol-39-tp-manga.jpg" alt="Product 3">
            <h2>Berserk volume 39 <br><br></h2>
            <div class="pricetag">
            <span class="price">€11.64</span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>
    </div>

    <div class="contact-button">
                <button class="buy-button">contact us here!</button>
    </div>

{% endblock %}