<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/logo.png" alt="Your Logo">
        </div>
        <nav class="navbar">

            <ul class="nav-list">
                <li class="nav-item"><a href="index.html" class="active-page">Home</a></li>
                <li class="nav-item"><a href="overzicht.html">Products</a></li>
                <li class="nav-item"><a href="details.html">contact</a></li>
            </ul>
        </nav>
    </header>


    <h2> Welcome to the website Manga Store! <br>
        Only the best manga are sold here.
   </h2>

    <h1> Best-selling manga </h1>

    <div class="product-container">
        <div class="product">
            <img src="assets/20th-century-boys-perfect-edition-vol-08-gn-manga.jpg" alt="Product 1">
            <h2>20th Century Boys Perfect Edition vol 08 Manga            </h2>
            <div class="pricetag">
            <span class="price">€19.99            </span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <img src="assets/dorohedoro-vol-17-gn.jpg" alt="Product 2">
            <h2>Dorohedoro vol 17 <br><br></h2>
            <div class="pricetag">
            <span class="price">€14.99</span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <img src="assets/berserk-vol-39-tp-manga.jpg" alt="Product 3">
            <h2>Berserk volume 39 <br><br></h2>
            <div class="pricetag">
            <span class="price">€11.64</span>
            <button class="buy-button">Buy Now</button>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets/logo.png" alt="Company Logo">
            </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>Email: mangastore@gmail.com</p>
                <p>Phone: +32 232 23 23</p>
            </div>
            <div class="footer-social">
                <h3>Follow Us</h3>
                <a href="#"><img src="assets/facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="assets/Twitter Icon.png" alt="twitter"></a>
                <a href="#"><img src="assets/insta-icon.png" alt="insta"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Company Name. All rights reserved.</p>
        </div>
    </footer>


</body>
</html>