        <div class="product">
            <a href="details.html">
            <img src="assets/homunculus-omnibus-vol-01-02-gn-manga.jpg" alt="Product 1">
            <h3>Homunculus volume 1-2</h3>
            <p>Omnibus 1 and 2</p>
            <p>$29.99</p>
            </a>
        </div>